# Firebase Public Configuration
VITE_FIREBASE_API_KEY=AIzaSyC15Z6LGp_viZf-kMm4ezfdXukd4UiQubs
VITE_FIREBASE_AUTH_DOMAIN=brainsync-07.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://brainsync-07-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=brainsync-07
VITE_FIREBASE_STORAGE_BUCKET=brainsync-07.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=470734580927
VITE_FIREBASE_APP_ID=1:470734580927:web:8b259b8ed89a158c972a0a
